In [42]:
from numpy import genfromtxt
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import pandas as pd
from scipy.stats import entropy
from math import log, e

In [14]:
my_data = genfromtxt('../Data/data_2/covtype.data', delimiter=',')

In [15]:
my_data.shape

(581012, 55)

In [16]:
for i in set(my_data[:,-1]) :
    _list = list(my_data[:,-1])
    c = _list.count(i)
    print('Class :', i,'| count :',c )

Class : 1.0 | count : 211840
Class : 2.0 | count : 283301
Class : 3.0 | count : 35754
Class : 4.0 | count : 2747
Class : 5.0 | count : 9493
Class : 6.0 | count : 17367
Class : 7.0 | count : 20510

In [28]:
# there are 7 classes 
# taking the majority class as normal and the class(es) with minimum number of points as anomalous
# this assumption has been done in CompreX

normal_class = 1
anomaly_class_1 = 4 
anomaly_class_2 = 5

In [19]:
df = pd.DataFrame(data=my_data)
print(list(df.columns))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]

In [37]:
df = df.rename(columns = {54:'tag'})
data_df = df[(df['tag']==normal_class) |(df['tag']== anomaly_class_1)| (df['tag']==anomaly_class_2)]

In [38]:
len(data_df)

224080

In [39]:
l1 = len(data_df[data_df['tag']==normal_class])
l2 = len(data_df)
l1 = l2-l1
print('Percentage of Anomalies :',  (l1/l2)*100 )

Percentage of Anomalies : 5.462334880399857

In [40]:
# add in id
new_col = list(range(1,len(data_df)+1))
data_df.insert(loc=0, column='id', value=new_col)

### Exploring the attributes

In [41]:
def entropy2(labels):
    n_labels = len(labels)
    if n_labels <= 1:
        return 0

    value,counts = np.unique(labels, return_counts=True)
    probs = counts / n_labels
    n_classes = np.count_nonzero(probs)

    if n_classes <= 1:
        return 0

    ent = 0.
    base = math.e 
    for i in probs:
        ent -= i * log(i, base)
    return ent



def get_entropies(df):
    # ignore 1st and last columns

,id,0,1,2,3,4,5,6,7,8,...,45,46,47,48,49,50,51,52,53,tag
0,1,2596.0,51.0,3.0,258.0,0.0,510.0,221.0,232.0,148.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,2,2590.0,56.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4,3,2595.0,45.0,2.0,153.0,-1.0,391.0,220.0,234.0,150.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
6,4,2606.0,45.0,7.0,270.0,5.0,633.0,222.0,225.0,138.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
7,5,2605.0,49.0,4.0,234.0,7.0,573.0,222.0,230.0,144.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
8,6,2617.0,45.0,9.0,240.0,56.0,666.0,223.0,221.0,133.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
9,7,2612.0,59.0,10.0,247.0,11.0,636.0,228.0,219.0,124.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
10,8,2612.0,201.0,4.0,180.0,51.0,735.0,218.0,243.0,161.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
13,9,2609.0,214.0,7.0,150.0,46.0,771.0,213.0,247.0,170.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
14,10,2503.0,157.0,4.0,67.0,4.0,674.0,224.0,240.0,151.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0